<div class="main">
    <div class="sidebar">

        <div class="slack-name">
            <h2>FireSlack</h2>
        </div>
        <!-- the list of channels on left side of view -->
        <div class="channel-list">
            <div class="list-head">Channels</div>

            <div class="channel" ng-repeat="channel in channel.channels">
                <!-- from out channel.messages state $stateParam  -->
                <a ui-sref="channels.messages({channelId: channel.$id})"
                   ui-sref-active="selected"><!-- add class 'selected' when state is active -->
                    #{{channel.name}}
                </a>
            </div>
            <div class="channel create">
                <!-- this is what will show in the ui-view embedded in this file -->
                <a ui-sref="channels.create">+create channel</a>
            </div>
            <div class="list-head">Direct Messages</div>
            <div class="channel" ng-repeat="user in channel.users">
                <!-- all long as user.$id is not the users own .$id -->
                <a ng-if="user.$id !== channel.profile.$id" ui-sref="channels.direct({uid: user.$id})">
                    <span class="presence" ng-class="{online: channel.profile.online}"></span>
                    {{user.displayName}}
                </a>
            </div>
        </div>

        <div class="my-info">
            <img class="user-pic" ng-src="{{ channel.getGravatar(channel.profile.$id) }}" />
            <div class="user-info">
                <div class="user-name">
                    <span class="presence" ng-class="{online: channel.profile.online}"></span>
                    {{ channel.profile.displayName }}
                </div>

                <div class="options">
                    <a ui-sref="profile">edit profile</a>/
                    <a href="#" ng-click="channel.logout()">logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- where all the messaging can happen based on channel we're in -->
    <div class="message-pane">
        <ui-view></ui-view>
    </div>
</div>